/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #FFFEF8;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/

body {
  font-family: "Work Sans";
  font-size: 14px;
}

.sousdiv {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}

header {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1>span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
}

/* Code ajouté ici, concernant la disposition des filtres */
nav a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 600;
}

.menu_filtres {
  display: flex;
  justify-content: center;
  height: 38px;
  margin-bottom: 50px;
}

.menu_filtres button, .modale button {
  text-decoration: none;
  font-family: "Syne";
  font-size: 1rem;
  font-weight: 700;
  color: #1d6154;
  background-color: #FFFEF8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  border: solid 1px #1d6154;
  border-radius: 60px;
  padding: 0 10px;
  min-width: 80px;
  cursor: pointer;
}

.menu_filtres button:hover {
  background-color: #1d6154;
  color: #ffff;
}

/* Fin du code ajouté*/

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact>* {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input, .loginform input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}


/* Ajout du CSS de login.html */

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3D3D3D
}

.loginform h2 {
  margin-bottom: 20px;
}

.champs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 379px;
  font-family: "Work Sans";
  font-size: 1em;
  margin-top: 10px;
}
.champs label {
  margin: 5px 0;
font-weight: bold;
}

.champs input {
  padding: 0 10px;
}

#erreurmdp {
  display: none;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(255, 91, 91);
}

.loginform a {
  text-decoration: underline;
  color: #3D3D3D;
  font-weight: 600;
}

.btnlog {
  border: none;
  height: 36px !important;
  width: 179px !important;
  margin: 0;
  font-size: 0.875rem !important;
  }

.modeedition {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 59px;
  font-family: "Work Sans";
  font-size: 14px;
}

.modeedition p,i {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.modifier{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-size: 14px;
  color: #3D3D3D;
  margin-bottom: 40px;
  gap: 20px;
}

.modifprojet i {
  background-color: #FFFEF8;
  color: #3D3D3D;
}

.modifprojet {
  display: none;
  background-color: #FFFEF8;
  color: #3D3D3D;
  cursor: pointer;
}

.modale_fond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modale {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 570px;
  height: 628px;
  border-radius: 10px;
}

.croix {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.modale i {
  width: 12px;
  height: 12px;
  background-color: #FFFEF8;
  color: #000000;
}

.modale h3 {
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.modale button {
  height: 36px;
  width: 237px;
  color: #FFFEF8;
  background-color: #1d6154;
  margin-top: 50px;
}

.gallerymodale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 8px;
  width: 420px;
  height: 360px;
  padding-bottom: 70px;
  border-bottom: solid 1px #b3b3b3;
}

.gallerymodale figure{
  height: 102px;
  width: 76px;
}

.gallerymodale img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.figimg {
display: flex;
position: relative;

}

.figimg i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 17px;
  height: 17px;
  color: #FFFEF8;
  background-color: #000000;
  border-radius: 2px;
  font-size: 10px;

}
